<!DOCTYPE html>
<html>
    <head>
        <title>EcoBot - Top Balances</title>
        <link rel="shortcut icon" href="/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/top.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">



        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ecobot.syclesdev.com" />
        <meta property="og:title" content="EcoBot - Top Balances" />
        <meta property="og:description" content="EcoBot's users ranked from top balance to lowest!" />
        <meta name="og:image" itemprop="image" content="https://cdn.discordapp.com/avatars/776935174222249995/8eba884b7181fd550a1796554b59e0a5" />
        <meta name="theme-color" content="#fb8b24">
        
    </head>
    <body>
        <div class="header">
            <div class="botIcon">
                <a href="/">
                    <img src=<%= "https://cdn.discordapp.com/avatars/" + bot.id + "/" + bot.avatar %>>
                </a>
            </div>
            <div class="title">Top Balances</div>
        </div>
        <div class="leaderboardContainer">
            <div class="leaderboard">
                <% for(var user in users) { %>
                    <div class ="leaderboardMember">
                        <div class="leaderboardMemberInfo">
                            <% var place = parseInt(user) + 1; %>
                            <div class="leaderboardMemberBadge"><%= place %></div>
                            <div class="leaderboardMemberIcon">
                                <img src=<%= "https://cdn.discordapp.com/avatars/" + users[user].id + "/" + users[user].avatar %>>
                            </div>
                            <div class="leaderboardMemberUsername"><%= users[user].username %></div>
                        </div>
                        <div class="leaderboardMemberStats">
                            <div class="leaderboardMemberBalanceBlock">
                                <div class="LeaderboardMemberBalanceName">BALANCE</div>
                                <div class="LeaderboardMemberBalanceStat"><%= balances[user] %></div>
                            </div>
                            <div class="leaderboardMemberGemBlock">
                                <div class="LeaderboardMemberGemName">GEMS</div>
                                <div class="LeaderboardMemberGemStat"><%= gems[user] %></div>
                            </div>
                            <div class="leaderboardMemberWorkBlock">
                                <div class="LeaderboardMemberWorkName">WORK COUNT</div>
                                <div class="LeaderboardMemberWorkStat"><%= workcounts[user] %></div>
                            </div>
                        </div>
                    </div>
                    <% if(users[place] != undefined) { %>
                        <div class="leaderboardMemberSeperator"></div>
                    <% } %>
                <% } %>
            </div>
            <div class="botInfoContainer">
                <div class="botInfo">
                    <div class = "botInfoTitle">Bot Stats</div>
                    <div class = "botInfoSeperator"></div>
                    <div class="botInfoServerCount">
                        <div class = "botInfoServerTitle">Servers using EcoBot</div>
                        <div class = "botInfoServerStat"><%= servers %></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>